body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
    background-color: #F8C8DC;
    background-image: url("./img/geeks_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 90%;
}

.gif_container img {
    max-width: 100%;
    height: auto;
}

/* Стили для текста */
.text {
    background: white;
    max-width: 90%;
    padding: 10px;
    border-radius: 15px;
}

/* Стили заголовка */
.header_text {
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

/* Стили кнопок */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    width: 150px;
    height: 60px;
    background-color: deeppink;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

/* Кнопка "Нет" с динамическим движением */
#noButton {
    position: absolute;
    transition: 0.5s;
}


/* Адаптация для мобильных устройств */
@media (max-width: 600px) {
    .header_text {
        font-size: 24px !important;
    }

    .btn {
        width: 120px;
        height: 50px;
        font-size: 20px;
    }
}
